body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%); */
    background-image: url(https://te.legra.ph/file/db43b452324dc47f25336.jpg);
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
}

.login-box h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #ffffff;
}

.login-box-msg {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #d1d5db;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

input {
    width: 90%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s;
}

input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.2);
}

label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -10px;
    left: 1rem;
    font-size: 0.75rem;
    color: #ffffff;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #aaa;
}

.button-group {
    margin-top: 2rem;
}

.login-btn {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background: #3b82f6;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

.login-btn:hover {
    background: #2563eb;
}

.links {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

.links a {
    color: #3b82f6;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
