/* Style the profile header */

h2 {
    font-family: 'Arial', sans-serif;
    color: #2b4fc6;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}

/* Style the form elements */
#userprofile{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#userprofile input[type="text"],
#userprofile input[type="file"],
#userprofile textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid (135deg, #1c1d6b, #a0097a);
    border-radius: 5px;
    font-size: 16px;
}

#userprofile button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #8e44ad, #ff6b81);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.3s ease;
}

#yuserprofile button:hover {

    background: linear-gradient(to right, #ff6b81, #8e44ad);
    transform: translateY(-3px);
}

/* Style the profile image */
.userpic  {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid;
    border-color: #b31fb8;
    
   
}

/* Style the bio text */
p {
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

/* Add some space around the page */
body {
    padding: 40px;
    background-color:#8e44ad, #c71585;
}