asgiref==3.8.1
chartjs==1.2
dj-database-url==2.2.0
Django==5.1
djangorestframework==3.15.2
echarts-python==0.1.3
mysqlclient==2.2.4
pillow==10.4.0
python-decouple==3.8
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.7.0
