{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Dashboard {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="{% static 'img/logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/logo.png' %}" rel="apple-touch-icon">

  <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <script src="{% static 'js/custom-charts.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@latest/dist/echarts.min.js"></script>



  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  {% block head %}

  {% endblock %}

</head>

<body>

  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'homepage'%}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">Aluminium Pro</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>

    <div class="search-bar">
      <form class="search-form d-flex align-items-center"  method="GET" action="{% url 'search_results' %}">
  
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>
    

          <a class="nav-link nav-profile d-flex align-items-center custom-padding-left " href="#" data-bs-toggle="dropdown">
           <img src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}https://via.placeholder.com/150{% endif %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user.username}}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
           <li class="dropdown-header">
                <h6><strong>{% if user.profile.full_name %}{{ request.user.profile.full_name }}{% else %} None {% endif %}</h6>
                <span>{{ request.user.profile.job_position  }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'view_profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            </ul>
            
      


      
  </header>

{% if request.user.is_superuser  %}

<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Add Data</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a href="{% url 'add_aluminum_data' %}"><i class="bi bi-circle"></i><span>Add Aluminum</span></a></li>
        <li><a href="{% url 'add_realtime_metric' %}"><i class="bi bi-circle"></i><span>Add Metric</span></a></li>
        <li><a href="{% url 'add_production_efficiency' %}"><i class="bi bi-circle"></i><span>Add ProductionEfficiency</span></a></li>
        <li><a href="{% url 'add-wastage-and-loss' %}"><i class="bi bi-circle"></i><span>Add Wastage And Loss</span></a></li>
        <li><a href="{% url 'add-cost-and-profitability' %}"><i class="bi bi-circle"></i><span>Add Cost And Profitability</span></a></li>
        <li><a href="{% url 'add-environmental-impact' %}"><i class="bi bi-circle"></i><span>Add Environmental Impact</span></a></li>
        <li><a href="{% url 'add-inventory-management' %}"><i class="bi bi-circle"></i><span>Add Inventory Management</span></a></li>
      </ul> 
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Monitoring</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a href="{% url 'monitor_metrics' %}"><i class="bi bi-circle"></i><span>Metrics</span></a></li>
        <li><a href="{% url 'show-production-efficiency' %}"><i class="bi bi-circle"></i><span>ProductionEfficiency</span></a></li>
        <li><a href="{% url 'show-wastage-and-loss' %}"><i class="bi bi-circle"></i><span></span>Wastage And Loss</a></li>
        <li><a href="{% url 'show-inventory-management' %}"><i class="bi bi-circle"></i><span></span>Inventory Management</a></li>
        <li><a href="{% url 'show-cost-and-profitability' %}"><i class="bi bi-circle"></i><span>Cost And Profitability</span></a></li>
        <li><a href="{% url 'show-environmental-impact' %}"><i class="bi bi-circle"></i><span>Environmental Impact</span></a></li>
      </ul>
    </li>



     <li class="nav-heading">Pages</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'view_profile' %}">
        <i class="bi bi-card-list"></i>
        <span>Profile</span>
      </a>
    </li>
     
    
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'edit_profile' %}">
        <i class="bi bi-card-list"></i>
        <span>Edit Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'custom_login' %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li>

  </ul> 
  {% else %}

<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>



   <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="{% url 'monitor_metrics' %}">
        <i class="bi bi-journal-text"></i><span>Metrics</span><i class="bi bi-chevron-double-right"></i>
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url 'show-production-efficiency' %}">
        <i class="bi bi-journal-text"></i><span>ProductionEfficiency</span><i class="bi bi-chevron-double-right"></i>
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url 'show-wastage-and-loss' %}">
        <i class="bi bi-journal-text"></i><span>Wastage And Loss</span><i class="bi bi-chevron-double-right"></i>
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url 'show-inventory-management' %}">
        <i class="bi bi-journal-text"></i><span>Inventory Management</span><i class="bi bi-chevron-double-right"></i>
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url 'show-cost-and-profitability' %}">
        <i class="bi bi-journal-text"></i><span>Cost And Profitability</span>  <i class="bi bi-chevron-double-right"></i>
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link collapsed"  href="{% url 'show-environmental-impact' %}">
        <i class="bi bi-journal-text"></i><span>Environmental Impact </span>  <i class="bi bi-chevron-double-right"></i>
      </a>
      </li> 
      
  {% endif %}
</aside>


 
  <main id="main" class="main">
    {% block content %}
      {% include "dashboard/dashboard.html" %}
    {% endblock %}
  </main>

 
  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}


  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor/quill/quill.js' %}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>


  <script src="{% static 'js/main.js' %}"></script>

  {% block scripts %}

  {% endblock %}

</body>

</html>

